*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #000;
  color: #bbb;
  font-family: system-ui;
}

body > * {
  margin-bottom: 16px;
}

.box {
  padding: 16px;
  border: 1px solid;
}
