body {
  margin: 16px;
  background: #000;
  color: #ccc;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased
}

* {
  box-sizing: border-box;
  margin-top: 0;
}

a {
  color: inherit;
}

img,
button,
label,
input,
textarea {
  display: block;
}

button {
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
}

[popover] {
  padding: 0;
  border: 0;
  margin: 0;
  background: none;
  color: inherit;
}
