body {
  margin: 16px;
  background: #000;
  color: #ccc;
  font-family: system-ui;
}

* {
  box-sizing: border-box;
  margin-top: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
