body {
  margin: 16px;
  background: #000;
  color: #ccc;
  font-family: system-ui;
}

* {
  box-sizing: border-box;
  margin-top: 0;
}

a {
  color: inherit;
}

img {
  display: block;
}

button {
  display: block;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

[popover] {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  color: inherit;
}
