:root {
  --black: #000000;
  --white: #ffffff;
  --red: #f87171;
  --green: #10b981;
  --blue: #0ea5e9;
  --gray1: #f1f5f9;
  --gray2: #e2e8f0;
  --gray3: #cbd5e1;
  --gray4: #94a3b8;
  --gray5: #64748b;
  --gray6: #475569;
  --gray7: #334155;
  --gray8: #1e293b;
  --gray9: #0f172a;
}
